.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 30px;
    justify-content: center;
    text-shadow: 2px 2px 4px rgb(225, 123, 225);
}

.table {
    color: #ee82ee;
    font-size: large;
}

.button {
    color: rgb(25, 33, 41);
    background-color: violet;
}