.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 30px;
    justify-content: center;
    text-shadow: 2px 2px 4px rgb(225, 123, 225);
}

.table {
    color: aliceblue;
    font-size:large
}

.textbox {
    background-color: aliceblue;
    color:aliceblue;
    text-shadow: none;
    font-size: large;
}

.button {
    color: black;
    background: radial-gradient(circle, rgb(227, 59, 227), violet);
    font-size: large;

}